<div class="card flex flex-col gap-6 w-full">
        <div class="flex flex-col gap-2 w-full">
            <label for="uploadimage">Upload Foto</label>
            <input pInputText id="uploadimage" type="file" class="form-control" [(ngModel)]="uploadimage" autofocus />
        </div>

        <div class="flex flex-col md:flex-row gap-6">
            <div class="flex flex-col gap-2 w-full">
                <label for="fullname">Nama Karyawan</label>
                <input pInputText id="fullname" type="text" [(ngModel)]="fullname" />
            </div>

            <div class="flex flex-col gap-2 w-full">
                <label for="date_birth">Tanggal Lahir</label>
                <p-datepicker 
                    [(ngModel)]="date_birth"
                    (ngModalChange)="onDateBirthChange" 
                    [showIcon]="true" 
                    dateFormat="dd-mm-yy"
                    inputId="date_birth" />
            </div>
        </div>

        <div class="flex flex-col gap-2 w-full">
            <label for="kategorikaryawan">Kategori Karyawan</label>
            <p-select 
                [options]="categoryOptions"
                [(ngModel)]="selectedCategory"
                optionLabel="label"
                [showClear]="true"
                placeholder="Pilih Kategori Karyawan"
                class="w-full"
            >
            </p-select>
        </div>

        <div class="flex flex-col gap-2 w-full">
            <label for="alamat">Alamat</label>
            <textarea pTextarea id="alamat" rows="4" style="border: 1px solid #E3E3E3; border-radius: 10px;"></textarea>
        </div>

        <div class="flex flex-col md:flex-row gap-6">
            <div class="flex flex-col gap-2 w-full">
                <label for="kodetoko">Kode Toko</label>
                <p-select 
                    [options]="countries"
                    [(ngModel)]="selectedStoreCode"
                    optionLabel="name"
                    [filter]="true"
                    filterBy="name"
                    [showClear]="true"
                    placeholder="Select a store code"
                    class="w-full md:w-95"
                >
                    <ng-template #selectedItem let-selectedOption>
                        <div class="flex items-center gap-2">
                            <img 
                                src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                                [class]="'flag flag-' + (selectedCountry?.code?.toLowerCase() || '')"
                                style="width: 18px"
                            />
                            <div>{{ selectedOption.name }}</div>
                        </div>
                    </ng-template>

                    <ng-template let-country #item>
                        <div class="flex items-center gap-2">
                            <img 
                                src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                                [class]="'flag flag-' + country.code.toLowerCase()"
                                style="width: 18px"
                            />
                            <div>{{ country.name }}</div>
                        </div>
                    </ng-template>
                </p-select>
            </div>

            <div class="flex flex-col gap-2 w-full">
                <label for="birthday">Perusahaan</label>
                <p-select 
                    [options]="countries"
                    [(ngModel)]="selectedCompany"
                    optionLabel="name"
                    [filter]="true"
                    filterBy="name"
                    [showClear]="true"
                    placeholder="Select a store code"
                    class="w-full md:w-95"
                >
                    <ng-template #selectedItem let-selectedOption>
                        <div class="flex items-center gap-2">
                            <img 
                                src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                                [class]="'flag flag-' + (selectedCountry?.code?.toLowerCase() || '')"
                                style="width: 18px"
                            />
                            <div>{{ selectedOption.name }}</div>
                        </div>
                    </ng-template>

                    <ng-template let-country #item>
                        <div class="flex items-center gap-2">
                            <img 
                                src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                                [class]="'flag flag-' + country.code.toLowerCase()"
                                style="width: 18px"
                            />
                            <div>{{ country.name }}</div>
                        </div>
                    </ng-template>
                </p-select>
            </div>
        </div>

        <div class="flex flex-col md:flex-row gap-6">
            <div class="flex flex-col gap-2 w-full">
                <label for="nohandphone">No Handphone</label>
                <input pInputText id="nohandphone" type="text" [(ngModel)]="nohandphone" />
            </div>

            <div class="flex flex-col gap-2 w-full">
                <label for="joindate">Tanggal Masuk</label>
                <p-datepicker 
                    [(ngModel)]="joinDate"
                    inputId="joinDate"
                    (ngModelChange)="onJoinDateChange($event)" 
                    [showIcon]="true" 
                    dateFormat="dd-mm-yy"
                    [showOnFocus]="true" />
            </div>
        </div>

        <div class="flex flex-col md:flex-row gap-6">
            <div class="flex flex-col gap-2 w-full">
                <label for="nik">Nomor Kartu Keluarga</label>
                <input pInputText id="nik" type="text" [(ngModel)]="nik" />
            </div>

            <div class="flex flex-col gap-2 w-full">
                <label for="noktp">Nomor KTP</label>
                <input pInputText id="noktp" type="text" [(ngModel)]="noktp" />
            </div>
        </div>

        <div class="flex flex-col md:flex-row gap-6">
            <div class="flex flex-col gap-2 w-full">
                <label for="jeniskelamin">Jenis Kelamin</label>
                <p-select 
                    [options]="genderOptions"
                    [(ngModel)]="selectedGender"
                    optionLabel="label"
                    [showClear]="true"
                    placeholder="Pilih Jenis Kelamin"
                    class="w-full"
                >
                </p-select>
            </div>

            <div class="flex flex-col gap-2 w-full">
                <label for="status">Status</label>
                <p-select 
                    [options]="statusOptions"
                    [(ngModel)]="selectedStatus"
                    optionLabel="label"
                    [showClear]="true"
                    placeholder="Pilih Status"
                    class="w-full"
                >
                </p-select>
            </div>
        </div>

        <div class="mt-4 flex justify-end">
            <button pButton size="small" label="Simpan" (click)="saveData()" class="mr-2" icon="pi pi-save" [disabled]="loading"></button>
            <button pButton size="small" label="Batal" severity="danger" (click)="close()" icon="pi pi-times"></button>
            <p-toast />
        </div>
    </div>

<p-blockUI [blocked]="loading">
    <div class="flex justify-content-center align-items-center">
        <p-progressSpinner></p-progressSpinner>
    </div>
</p-blockUI>