<div class="card flex flex-col gap-6 w-full">
    <div class="flex flex-col md:flex-row gap-6">
        <div class="flex flex-col gap-2 w-full">
            <label for="id_batch">ID Batch</label>
            <input pInputText inputId="id_batch" type="text" [(ngModel)]="id_batch" disabled />
        </div>

        <div class="flex flex-col gap-2 w-full">
            <label for="tanggal_transfer">Tanggal Transfer</label>
            <p-datepicker 
                [(ngModel)]="tanggal_transfer" 
                [showIcon]="true" 
                [autofocus]="false"
                dateFormat="dd-mm-yy"
                inputId="tanggal_transfer" [disabled]="true" />
        </div>
    </div>

    <div class="flex flex-col md:flex-row gap-6">
        <div class="flex flex-col gap-2 w-110">
            <label for="id_batch">Total Pembayaran</label>
            <input pInputText inputId="total_pembayaran" type="text" [(ngModel)]="total_pembayaran" disabled />
        </div>
    </div>

    <div class="flex flex-col md:flex-row gap-6">
        <p-button label="Export XLS" severity="success" class="mr-2" icon="pi pi-file-excel"></p-button>
    </div>

    <div class="flex flex-col md-flex-row gap-6">
        <p-table
            #dt1
            [value]="member"
            dataKey="po_no"
            [rows]="10"
            [loading]="loading"
            [rowHover]="true"
            [showGridlines]="true"
            [paginator]="true"
            [globalFilterFields]="['po_no']"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[10, 25, 50]"
            responsiveLayout="scroll"
        >   
            <ng-template #header>
                <tr>
                    <th style="min-width: 12rem; background-color: #ef4444; color: white;">
                        <div class="flex justify-between items-center">
                            NO PO
                        </div>
                    </th>
                    <th style="min-width: 12rem; background-color: #ef4444; color: white;">
                        <div class="flex justify-between items-center">
                            NO RCV
                        </div>
                    </th>
                    <th style="min-width: 14rem; background-color: #ef4444; color: white;">
                        <div class="flex justify-between items-center">
                            NO INVOICE
                        </div>
                    </th>
                    <th style="min-width: 10rem; background-color: #ef4444; color: white;">
                        <div class="flex justify-between items-center">
                            NILAI
                        </div>
                    </th>
                </tr>
            </ng-template>
            
            <ng-template #body let-member>
                <tr>
                    <td>
                        {{ member?.po_no || '-' }}
                    </td>
                    <td>
                        {{ member?.rcv_no || '-' }}
                    </td>
                    <td>
                        {{ member?.invoice_no || '-' }}
                    </td>
                    <td>
                        {{ member?.nominal_transfer || '-' }}
                    </td>
                </tr>
            </ng-template>

            <ng-template #footer>
                <tr>
                    <td colspan="3" style="text-align: right; font-weight: bold;">
                        TOTAL
                    </td>
                    <td style="font-weight: bold;">
                        {{ getTotalNominal() | number:'1.0-0' }}
                    </td>
                </tr>
            </ng-template>
            
            <ng-template #emptymessage>
                <tr>
                    <td colspan="6" style="text-align: center;">Data not found.</td>
                </tr>
            </ng-template>
            
            <ng-template #loadingbody>
                <tr>
                    <td colspan="6">Loading data. Please wait.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <div class="mt-4 flex justify-end">
        <button pButton size="large" label="Posting" severity="info" class="mr-2" icon="pi pi-save"></button>
        <button pButton size="large" label="Batal" severity="danger" (click)="close()" icon="pi pi-times"></button>
        <p-toast />
    </div>
</div>