<div class="text-xl font-semibold bg-red-600 text-white p-4 rounded-t">
    Pajak Masukan Non A/P
</div>
<div class="card">
    <div class="flex flex-col gap-6 w-full">
        <div class="flex flex-col md:flex-row gap-6">
            <div class="flex flex-col gap-2 w-full">
                <label for="periodeawal">Periode Awal</label>
                <p-datepicker 
                    [(ngModel)]="periodeAwal"
                    [showIcon]="true"
                    inputId="periodeAwal"
                    (ngModelChange)="onPeriodeAwalChange($event)"
                    dateFormat="dd-mm-yy"/>
            </div>

            <div class="flex flex-col gap-2 w-full">
                <label for="periodeakhir">Periode Akhir</label>
                <div class="flex flex-col md:flex-row gap-6">
                    <p-datepicker 
                        [(ngModel)]="periodeAkhir"
                        class="w-100"
                        [showIcon]="true"
                        inputId="periodeAkhir"
                        [disabled]="true"
                        dateFormat="dd-mm-yy"/>
    
                    <p-button label="Tampilkan Data" severity="info" icon="pi pi-search-plus" class="w-100" (click)="loadTaxNonap()"></p-button>
                </div>
            </div>
        </div>
    </div>

    <div class="flex flex-col gap-6 w-full mt-8">
        <p-table
            #dt1
            [value]="taxnonap"
            dataKey="faktur_rmy"
            [rows]="10"
            [loading]="loading"
            [rowHover]="true"
            [showGridlines]="true"
            [paginator]="true"
            [globalFilterFields]="['supplier_code', 'no_seri', 'faktur_rmy', 'release', 'dpp', 'ppn']"
            responsiveLayout="scroll"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[10, 25, 50]"
            editMode="row"
        >
            <ng-template #caption>
                <div class="flex gap-6 w-full justify-end">
                    <p-button label="Input Data" size="small" severity="success" icon="pi pi-plus" (onClick)="openAddDialog()"></p-button>
                </div>

                <div class="flex justify-between items-center flex-column sm:flex-row">
                    <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
                    <p-iconfield iconPosition="left" class="ml-auto">
                        <p-inputicon>
                            <i class="pi pi-search"></i>
                        </p-inputicon>
                        <input pInputText type="text" (input)="onGlobalFilter(dt1, $event)" placeholder="Search keyword" />
                    </p-iconfield>
                </div>
            </ng-template>
            <ng-template #header>
                <tr>
                    <th style="min-width: 10rem; background-color: red; color: white;">
                        <div style="text-align: center; vertical-align: middle;">
                            Supplier
                        </div>
                    </th>
                    <th style="min-width: 8rem; background-color: red; color: white;">
                        <div style="text-align: center; vertical-align: middle;">
                            Masa Pajak
                        </div>
                    </th>
                    <th style="min-width: 12rem; background-color: red; color: white;">
                        <div style="text-align: center; vertical-align: middle;">
                            Tanggal Penerimaan
                        </div>
                    </th>
                    <th pSortableColumn="faktur_rmy" style="min-width: 10rem; background-color: red; color: white;">
                        <div class="flex justify-between items-center">
                            Faktur
                            <p-sortIcon field="faktur_rmy" />
                        </div>
                    </th>
                    <th pSortableColumn="no_seri" style="min-width: 10rem; background-color: red; color: white;">
                        <div class="flex justify-between items-center">
                            Tax Series
                            <p-sortIcon field="no_seri" />
                        </div>
                    </th>
                    <th style="min-width: 10rem; background-color: red; color: white;">
                        <div class="flex justify-center items-center">
                            Tax Date
                        </div>
                    </th>
                    <th style="min-width: 10rem; background-color: red; color: white;">
                        <div class="flex justify-end items-center">
                            DPP
                        </div>
                    </th>
                    <th style="min-width: 10rem; background-color: red; color: white;">
                        <div class="flex justify-end items-center">
                            DPP Nilai Lain
                        </div>
                    </th>
                    <th pSortableColumn="ppn" style="min-width: 10rem; background-color: red; color: white;">
                        <div class="flex justify-end items-center">
                            ppn
                            <p-sortIcon field="ppn" />
                        </div>
                    </th>
                    <th style="min-width: 6rem; background-color: red; color: white;">
                        <div class="flex justify-center items-center">
                            Release
                        </div>
                    </th>
                    <th style="min-width: 8rem; background-color: red; color: white;">
                        <div class="flex justify-center items-center">
                            Action
                        </div>
                    </th>
                </tr>
            </ng-template>
            <ng-template #body let-taxnonap let-editing="editing" let-ri="rowIndex">
                <tr [pEditableRow]="taxnonap" (click)="onRowSelect(taxnonap)" [class.selected-row]="selectedRow?.faktur_rmy === taxnonap.faktur_rmy" style="cursor: pointer;">
                    <td style="text-align: center; vertical-align: middle;">
                        {{ taxnonap.supplier_code || '-' }}
                    </td>
                    <td style="text-align: center; vertical-align: middle;">
                        {{ taxnonap.pay_date | date: 'dd-MM-yyyy' }}
                    </td>
                    <td style="text-align: center; vertical-align: middle;">
                        <p-cellEditor>
                            <ng-template #input>
                                <input pInputText type="text" [ngModel]="formatDateInput(taxnonap.tgl_faktur)" (ngModelChange)="onDateChange($event, taxnonap)">
                            </ng-template>
                            <ng-template #output>
                                {{ taxnonap.tgl_faktur | date: 'dd-MM-yyyy' }}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td style="text-align: center; vertical-align: middle;">
                        {{ taxnonap.faktur_rmy || '-' }}
                    </td>
                    <td style="text-align: center; vertical-align: middle;">
                        <p-cellEditor>
                            <ng-template #input>
                                <input type="text" pInputText [(ngModel)]="taxnonap.no_seri">
                            </ng-template>
                            <ng-template #output>
                                {{ taxnonap.no_seri }}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td style="text-align: center; vertical-align: middle;">
                        <p-cellEditor>
                            <ng-template #input>
                                <input type="text" pInputText [ngModel]="formatDateInput(taxnonap.tax_date)" (ngModelChange)="onDateChange($event, taxnonap)">
                            </ng-template>
                            <ng-template #output>
                                {{ taxnonap.tax_date | date: 'dd-MM-yyyy' }}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td style="text-align: center; vertical-align: middle;">
                        <p-cellEditor>
                            <ng-template #input>
                                <p-inputNumber [(ngModel)]="taxnonap.dpp" mode="currency" currency="IDR" locale="id-ID" (ngModelChange)="calculateFromDPP(taxnonap)"></p-inputNumber>
                            </ng-template>
                            <ng-template #output>
                                {{ taxnonap.dpp | currency:'IDR':'symbol':'1.0-0':'id-ID' }}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td style="text-align: center; vertical-align: middle;">
                        {{ taxnonap.dpp * (11/12) | currency:'IDR':'symbol':'1.0-0':'id-ID' }}
                    </td>
                    <td style="text-align: center; vertical-align: middle;">
                        <p-cellEditor>
                            <ng-template #input>
                                <p-inputNumber [(ngModel)]="taxnonap.ppn" mode="currency" currency="IDR" locale="id-ID" (ngModelChange)="calculateFromPPN(taxnonap)"></p-inputNumber>
                            </ng-template>
                            <ng-template #output>
                                {{ taxnonap.ppn | currency:'IDR':'symbol':'1.0-0':'id-ID' }}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td style="text-align: center; vertical-align: middle;">
                        <input 
                            type="checkbox"
                            class="custom-control-input"
                            [ngModel]="taxnonap.RELEASE === '1'"
                            (ngModelChange)="taxnonap.RELEASE = $event ? '1' : '0'" [disabled]="!editing"
                        />
                    </td>
                    <td>
                        <div class="flex flex-col md:flex-row gap-2">
                            <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(taxnonap)" text rounded severity="success" [disabled]="taxnonap.RELEASE === '1' || editing"></button>
                             <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-save" (click)="onRowEditSave(taxnonap)" text rounded severity="info"></button>
                            <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(taxnonap, ri)" text rounded severity="danger"></button>
                            <p-toast />
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template #emptymessage>
                <tr>
                    <td colspan="8" style="text-align:center; vertical-align:middle;">No data available in table.</td>
                </tr>
            </ng-template>
            <ng-template #loadingbody>
                <tr>
                    <td colspan="8" style="text-align:center; vertical-align:middle;">Loading tax non a/p data. Please wait.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <div class="flex flex-col gap-6 w-full">
        <div class="flex flex-col md:flex-row gap-6 justify-between w-full">
            <div class="flex flex-col md:flex-row gap-2">
                <label for="npwp" class="font-bold">NPWP:</label>
                <input type="text" pInputText id="npwp" [(ngModel)]="npwp" [readonly]="!editing" [class.bg-white]="editing" [class.bg-gray-100]="!editing">
            </div>
            <div class="flex flex-col md:flex-row gap-2">
                <label for="total" class="font-bold">Total DPP + PPN:</label>
                <input type="text" pInputText id="total" [(ngModel)]="totalDppPpn" readonly>
            </div>
        </div>

        <div class="flex flex-col md:flex-row gap-6">
            <div class="flex flex-col md:flex-row gap-2 w-full">
                <label for="kode" class="font-bold mr-2">Kode:</label>
                <input type="text" pInputText id="kode" [(ngModel)]="kode" readonly>
            </div>

            <div class="flex flex-col md:flex-row gap-2 w-full">
                <label for="usercreate" class="font-bold">User Create:</label>
                <input type="text" pInputText id="usercreate" style="padding: 4px 8px; font-size: 12px;" [(ngModel)]="userCreate" readonly>
            </div>

            <div class="flex flex-col md:flex-row gap-2 w-full">
                <label for="usermodified" class="font-bold">User Modified:</label>
                <input type="text" pInputText id="usermodified" style="padding: 4px 8px; font-size: 12px;" [(ngModel)]="userModified" readonly>
            </div>

            <div class="flex flex-col md:flex-row gap-2 w-full">
                <label for="statusap" class="font-bold mr-15">Status AP:</label>
                <input type="text" pInputText id="statusap" [(ngModel)]="statusAp" readonly>
            </div>
        </div>

        <div class="flex flex-col md:flex-row gap-6">
            <div class="flex flex-col md:flex-row gap-2 w-full">
                <label for="bulan" class="font-bold mr-2">Bulan:</label>
                 <input 
                    type="text" 
                    pInputText 
                    [(ngModel)]="bulan"
                    readonly>
            </div>

            <div class="flex flex-col md:flex-row gap-2 w-full">
                <label for="datecreate" class="font-bold">Date Create:</label>
                <input type="text" pInputText id="datecreate" style="padding: 4px 8px; font-size: 12px;" [(ngModel)]="dateCreate" readonly>
            </div>

            <div class="flex flex-col md:flex-row gap-2 w-full">
                <label for="datemodified" class="font-bold">Date Modified:</label>
                <input type="text" pInputText id="datemodified" style="padding: 4px 8px; font-size: 12px;" [(ngModel)]="dateModified" readonly>
            </div>

            <div class="flex flex-col md:flex-row gap-2 w-full">
                <label for="count" class="font-bold mr-14">Count:</label>
                <input type="text" pInputText id="count" [(ngModel)]="count" readonly>
            </div>
        </div>
    </div>
</div>