<div class="text-xl font-semibold bg-red-600 text-white p-4 rounded-t">
   Input Pajak Keluaran
</div>
<div class="card">
    <div class="flex flex-col gap-6 w-full">
        <div class="flex flex-col md:flex-row gap-6">
            <div class="flex flex-col gap-2 w-100">
                <label for="storecode">Store Code</label>
                <input type="text" pInputText id="storecode" [(ngModel)]="storecode" />
            </div>
    
            <div class="flex flex-col gap-2">
                <label for="invoicedate">Invoice Date</label>
                <div class="flex flex-row gap-4 w-full items-center">
                    <p-datepicker
                        [(ngModel)]="startDate"
                        (ngModelChange)="onStartDateChange($event)"
                        class="w-95"
                        [showIcon]="true"
                        dateFormat="dd-mm-yy"
                        inputId="startDate" />
    
                    <span class="font-bold">To</span>
    
                    <p-datepicker
                        [(ngModel)]="endDate"
                        (ngModelChange)="onEndDateChange($event)"
                        class="w-98"
                        [showIcon]="true"
                        dateFormat="dd-mm-yy"
                        inputId="endDate" />
                </div>
            </div>
        </div>
        <div class="flex flex-col md:flex-row gap-6">
            <div class="flex flex-col gap-2 w-100">
                <label for="invoiceno">Invoice No</label>
                <input type="text" pInputText id="invoiceno" [(ngModel)]="invoiceno" />
            </div>
    
            <div class="flex flex-col gap-2 w-100">
                <label for="supplier">Supplier</label>
                <input type="text" pInputText id="supplierCode" [(ngModel)]="supplierCode" />
            </div>
    
            <div class="flex flex-col gap-2 w-100">
                <label for="transactioncode">Transaction Code</label>
                <input type="text" pInputText id="trcode" [(ngModel)]="trcode" />
            </div>
        </div>

        <div class="flex flex-col md:flex-row gap-6">
            <div class="flex flex-col gap-2">
                <button pButton label="Generate" severity="secondary" (click)="saveData()" icon="pi pi-sync" [disabled]="loading"></button>
                <p-toast />
            </div>
        </div>
    </div>
</div>
<p-blockUI [blocked]="loading">
    <div class="flex justify-content-center align-items-center">
        <p-progressSpinner></p-progressSpinner>
    </div>
</p-blockUI>

<div class="card">
    <p-table
        #dt1
        dataKey="invoice_no"
        [value]="taxkeluaran"
        [rows]="10"
        [loading]="loading"
        [rowHover]="true"
        [showGridlines]="true"
        [paginator]="true"
        [globalFilterFields]="['invoice_date', 'invoice_no', 'agreement_no', 'customer_id', 'name', 'npwp', 'tax_series_no', 'dpp', 'dpp_nilai_lain', 'ppn', 'process_tax_out']"
        responsiveLayout="scroll"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[10, 25, 50]"
    >
        <ng-template #caption>
            <div class="flex justify-between items-center flex-column sm:flex-row">
                <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
                <p-iconfield iconPosition="left" class="ml-auto">
                    <p-inputicon>
                        <i class="pi pi-search"></i>
                    </p-inputicon>
                    <input pInputText type="text" (input)="onGlobalFilter(dt1, $event)" placeholder="Search keyword" />
                </p-iconfield>
            </div>
        </ng-template>
        <ng-template #header>
            <tr>
                <th pSortableColumn="invoice_date" style="min-width: 12rem; background-color: red; color: white;">
                    <div class="flex justify-between items-center">
                        Invoice Date
                        <p-sortIcon field="invoice_date"></p-sortIcon>
                    </div>
                </th>
                <th pSortableColumn="invoice_no" style="min-width: 12rem; background-color: red; color: white;">
                    <div class="flex justify-between items-center">
                        Invoice No
                        <p-sortIcon field="invoice_no"></p-sortIcon>
                    </div>
                </th>
                <th pSortableColumn="agreement_no" style="min-width: 10rem; background-color: red; color: white;">
                    <div class="flex justify-between items-center">
                        Contract No
                        <p-sortIcon field="agreement_no"></p-sortIcon>
                    </div>
                </th>
                <th pSortableColumn="customer_id" style="min-width: 10rem; background-color: red; color: white;">
                    <div class="flex justify-between items-center">
                        Customer Code
                        <p-sortIcon field="customer_id"></p-sortIcon>
                    </div>
                </th>
                <th pSortableColumn="name" style="min-width: 10rem; background-color: red; color: white;">
                    <div class="flex justify-between items-center">
                        Name
                        <p-sortIcon field="name"></p-sortIcon>
                    </div>
                </th>
                <th pSortableColumn="npwp" style="min-width: 10rem; background-color: red; color: white;">
                    <div class="flex justify-between items-center">
                        NPWP
                        <p-sortIcon field="npwp"></p-sortIcon>
                    </div>
                </th>
                <th pSortableColumn="tax_series_no" style="min-width: 10rem; background-color: red; color: white;">
                    <div class="flex justify-between items-center">
                        Tax Series No
                        <p-sortIcon field="tax_series_no"></p-sortIcon>
                    </div>
                </th>
                <th pSortableColumn="dpp" style="min-width: 10rem; background-color: red; color: white;">
                    <div class="flex justify-between items-center">
                        DPP
                        <p-sortIcon field="dpp"></p-sortIcon>
                    </div>
                </th>
                <th pSortableColumn="dpp_nilai_lain" style="min-width: 10rem; background-color: red; color: white;">
                    <div class="flex justify-between items-center">
                        DPP Nilai Lain
                        <p-sortIcon field="dpp_nilai_lain"></p-sortIcon>
                    </div>
                </th>
                <th pSortableColumn="ppn" style="min-width: 10rem; background-color: red; color: white;">
                    <div class="flex justify-between items-center">
                        PPN
                        <p-sortIcon field="ppn"></p-sortIcon>
                    </div>
                </th>
                <th pSortableColumn="process_tax_out" style="min-width: 10rem; background-color: red; color: white;">
                    <div class="flex justify-between items-center">
                        Process Tax
                        <p-sortIcon field="process_tax_out"></p-sortIcon>
                    </div>
                </th>
                <th style="min-width: 10rem; background-color: red; color: white;">
                    <div class="flex justify-between items-center">
                        Action
                    </div>
                </th>
            </tr>
        </ng-template>
        <ng-template #body let-taxkeluaran>
            <tr>
                <td style="text-align: center; vertical-align: middle;">
                  {{ taxkeluaran?.invoice_date | date: 'MM-dd-yyyy' }}  
                </td>
                <td style="text-align: center; vertical-align: middle;">
                  {{ taxkeluaran?.invoice_no || '-' }}  
                </td>
                <td style="text-align: center; vertical-align: middle;">
                  {{ taxkeluaran?.agreement_no || '-' }}  
                </td>
                <td style="text-align: center; vertical-align: middle;">
                  {{ taxkeluaran?.customer_id || '-' }}  
                </td>
                <td style="text-align: center; vertical-align: middle;">
                  {{ taxkeluaran?.name || '-' }}  
                </td>
                <td style="text-align: center; vertical-align: middle;">
                  {{ taxkeluaran?.npwp || '-' }}  
                </td>
                <td style="text-align: center; vertical-align: middle;">
                  {{ taxkeluaran?.tax_series_no || '-' }}  
                </td>
                <td style="text-align: center; vertical-align: middle;">
                  {{ taxkeluaran?.dpp || '-' }}  
                </td>
                <td style="text-align: center; vertical-align: middle;">
                  {{ taxkeluaran?.dpp_nilai_lain || '-' }}  
                </td>
                <td style="text-align: center; vertical-align: middle;">
                  {{ taxkeluaran?.ppn || '-' }}  
                </td>
                <td style="text-align: center; vertical-align: middle;">
                  {{ taxkeluaran?.process_tax_out || '-' }}
                </td>
                <td style="text-align: center; vertical-align: middle;">
                  <p-button severity="success" icon="pi pi-pen-to-square" size="small" (onClick)="openEditDialog(taxkeluaran)"></p-button>
                </td>
            </tr>
        </ng-template>
        <ng-template #emptymessage>
            <tr>
                <td colspan="8" style="text-align:center; vertical-align:middle;">No data available in table.</td>
            </tr>
        </ng-template>
        <ng-template #loadingbody>
            <tr>
                <td colspan="8" style="text-align:center; vertical-align:middle;">Loading pajak keluaran data. Please wait.</td>
            </tr>
        </ng-template>
    </p-table>
</div>